* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    padding-top: 10px;
}
.light-grey {
    color:#929292
}

.container {
    width: 1024px;
    margin: 30px auto;
}

#logo {
    height: 70px;
    padding-right: 20px;
    border-right: 2px solid #B8B8B8;
}

/* barra di navigazione */
nav {
    height: 100%;
    margin: 30px 0 30px 0;
}

.list-inline>li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
.list-inline a {
    display: inline-block;
    color: #838383;
    font-size: 18px;
    text-decoration: none;
}
.list-inline a:hover {
    color: black;
}
/* /barra di navigazione */

/* banner */
 .banner {
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 30px;
    color: white;
}
.banner > div {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 280px 250px 0 30px;
}
/* /banner */

main {
    /* height: 600px; */
    /* background-color: #0186FF; */
    margin-bottom: 10px;
}
main::after {
	content: "" ;
	display: table;
	clear: both;
}
 /* top main titolo */
div.top-main {
    margin-bottom: 20px;
}
h1 {
    font-weight: bolder;
    color: black;
}
 /* /top main titolo */
 .opacity {
     height: 180px;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.3);
     border-radius: 10px;
 }

 .image {
    height: 180px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;  
    background-size:cover; 
 }

 
 aside.left {
     float: left;
     width: 23%;
     /* background-color: #ABCFE7; */
    }
    .left-side {
        background-image: url(../img/img-1.jpg);
    }
    /* .image-left {
        height: 180px;
        border-radius: 10px;
        background-image:url(../img/img-1.jpg);
        background-repeat: no-repeat;
        background-position: top;  
        background-size:cover; 
    } */
    
    section {
        float: left;
        width:50%;
        margin: 0 2%;
        /* background-color: #ABCFE7; */
    }
    .center-side {
       background-image:url(../img/banner-2.jpg);
    }
/* .image-center {
    height: 180px;
    border-radius: 10px;
    background-image:url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
} */


aside.right {
    float: left;
    height: 500px;
    width: 23%;
    /* background-color: #ABCFE7; */
}
.right-side {
    background-image:url(../img/img-3.jpg);
}
/* .image-right {
    height: 180px;
    border-radius: 10px;
    background-image:url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}   */

footer {
    height: 80px;
    margin-top: 30px;
    color: black;
    text-align: center;
    /* background-color: blueviolet; */
}

#heart {
    color: red;
}